<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12"
>
  <div
    class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10"
  >
    <div class="mx-auto max-w-md">
      <div class="divide-y divide-gray-300/50">
        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
          <div class="pb-2 flex justify-center">
            <img
              class="w-56"
              src="/assets/svg/undraw_welcome_cats.svg"
              alt="welcome"
            />
          </div>
          <p>
            The following technology was used to create this sample application.
          </p>
          <ul class="space-y-4">
            <li class="flex items-center">
              <svg
                class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="11" />
                <path
                  d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                  fill="none"
                />
              </svg>
              <p class="ml-4">Angular 15 CLI</p>
            </li>
            <li class="flex items-center">
              <svg
                class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="11" />
                <path
                  d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                  fill="none"
                />
              </svg>
              <p class="ml-4">Angular Material</p>
            </li>
            <li class="flex items-center">
              <svg
                class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="11" />
                <path
                  d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                  fill="none"
                />
              </svg>
              <p class="ml-4">NGRX</p>
            </li>
            <li class="flex items-center">
              <svg
                class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="11" />
                <path
                  d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                  fill="none"
                />
              </svg>
              <p class="ml-4">Tailwindcss</p>
            </li>
            <li class="flex items-center">
              <svg
                class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="11" />
                <path
                  d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                  fill="none"
                />
              </svg>
              <p class="ml-4">Angular Router</p>
            </li>
          </ul>
        </div>
        <div class="pt-8 text-base font-semibold leading-7">
          <p class="text-gray-900">
            Please press the button to proceed to your app
          </p>
          <p>
            <a
              class="text-sky-500 hover:text-sky-600"
              routerLink="/reading-books"
              >Book Library &rarr;</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
