<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12"
>
  <div
    class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10"
  >
    <div class="mx-auto max-w-md">
      <div class="divide-y divide-gray-300/50">
        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
          <div class="pb-2 flex justify-center">
            <img
              class="w-56"
              src="/assets/svg/undraw_welcome_cats.svg"
              alt="welcome"
            />
          </div>
          <p>
            The following technology was used to create this sample application.
          </p>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <p class="ml-4">
                <mat-icon>check</mat-icon>
                Angular 15 CLI
              </p>
            </mat-list-item>
            <mat-list-item role="listitem">
              <p class="ml-4">
                <mat-icon>check</mat-icon>
                Angular Material
              </p>
            </mat-list-item>
            <!-- TECHNOLOGY PENDING TO IMPLEMENT -->
            <!-- <mat-list-item role="listitem">
              <p class="ml-4">
                <mat-icon>check</mat-icon>
                NGRX
              </p>
            </mat-list-item> -->
            <mat-list-item role="listitem">
              <p class="ml-4">
                <mat-icon>check</mat-icon>
                Tailwindcss
              </p>
            </mat-list-item>
            <mat-list-item role="listitem">
              <p class="ml-4">
                <mat-icon>check</mat-icon>
                Angular Router
              </p>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="pt-8 text-base font-semibold leading-7">
          <p class="text-gray-900 mb-3">
            Please press the button to proceed to your app.
          </p>
          <p>
            <a
              class="text-sky-500 hover:text-sky-600"
              mat-raised-button
              routerLink="/reading-books"
            >
              <mat-icon>arrow_forward</mat-icon>
              My reading books!
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
