<div class="w-screen h-screen bg-gray-50 relative">
  <div class="pt-16 relative w-80 m-auto">
    <div class="pt-6 pl-6 pb-12">
      <img
        class="w-56"
        src="/assets/svg/undraw_page_not_found.svg"
        alt="page-not-found"
      />
    </div>
    <h1 class="text-3xl font-bold text-gray-900">Oops, page not found!</h1>
    <p>Sorry, but the requested page is not found.</p>
    <div class="pt-8 text-base font-semibold leading-7">
      <p class="text-gray-800 mb-3">Please go back to the welcome page.</p>
      <p>
        <a
          class="text-sky-500 hover:text-sky-600"
          mat-raised-button
          routerLink="/welcome"
        >
          <mat-icon>home</mat-icon>
          Welome
        </a>
      </p>
    </div>
  </div>
</div>
